@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(255, 255, 255);
}

/* Navbar.css */

.navbar {
    background-color: #ffffff;
    padding: 15px 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.137);
    position: sticky;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    color: #3f3232;
    text-decoration: none;
    height: 40px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
   
  }
  
  
  .icon{
    font-size: 1.5rem;
    position: relative;
    bottom: 4px;
  }
  
  .icon:hover{
    color: blue;
  }
  
  .navbar-links li:hover {
    color: rgb(255, 0, 0);
  }

  



